*.log
.DS_Store
node_modules/
dist/
tmp/
coverage/
/apps/web-server/.next/
/apps/web-server/out/
/apps/web-server/src/styles/css/antd.css
*.sqlite3
.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
