# "dist/" is automatically commented out in the "main-build" branch by ./.github/workflows/auto-build.yml
dist/

*.log
.DS_Store
node_modules/
tmp/
coverage/
*.sqlite3
.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
