@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    position: relative;
    min-height: 100%;
}

* {
    // Firefoxにおけるスクロールバーの設定
    scrollbar-color: #686868 #141414;
    scrollbar-width: thin;
}

// webkitにおけるスクロールバーの設定
// Firefoxとは見た目が違う。スクロールバーにマウスを合わせたときの色の変化など
::-webkit-scrollbar {
    background-color: #141414;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-corner {
    background-color: #141414;
}

::-webkit-scrollbar-thumb {
    background-color: #686868;
}

// body {
//     padding: $pt-navbar-height 0 0 0;
// }

.cancel-rnd {
    cursor: auto;
}

// antdをダークテーマにしている影響で、react-colorのinputの文字色が白になってしまい文字が読めなくなってしまう。それを回避するためにblackを指定している。
.colorpicker {
    color: black;
}

// これがあることで、antdのTabPaneの子要素のheightを100%にできる（Chrome DevToolsを用いて特定。代わりに.ant-tabs-content-topを対象にしてもよさそう）。
// これによりy方向のスクロールバーを用いて表示することが可能になる。
.ant-tabs-content {
    height: 100%;
}